@media only screen and (max-width: 1000px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    tr {
        display: block !important;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #4096ff;
        border-radius: 4px;
        height: auto !important;
        background-color: #f8f8f8;
        padding: 4px;
        margin-bottom: 12px;
        border-bottom: 3px solid #85bbfd;
        box-shadow: unset;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #4096ffad;
        position: relative;
        padding: 6px 6px 6px 110px !important;
        width: 100% !important;
        display: flex !important;
        justify-content: flex-end;
    }

    td:first-child {
        & .MuiButtonBase-root.MuiCheckbox-root {
            position: relative;
            right: -10px;
        }
    }

    td:last-child {
        border-bottom: unset;
    }

    td:before {
        position: absolute;
        top: 50%;
        left: 16px;
        width: 90px;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    tr {
        & td:nth-of-type(1):before {
            content: "Chọn";
            left: unset;
            right: 30px;
            font-weight: normal;
            width: 40px;
        }

        & td:nth-of-type(2):before {
            content: "Tên lớp";
        }

        & td:nth-of-type(3):before {
            content: "Điểm danh";
        }

        & td:nth-of-type(4):before {
            content: "Thời gian";
        }

        & td:nth-of-type(5):before {
            content: "Thành tiền";
        }
    }
}